nav > div {
  padding: 0%;
  margin: 0%;
  width: 10%;
  float: left;
}

nav {
  padding: 2%;
  width: 100%;
  background-color: crimson;
}
#contact {
  padding-left: 50px;
}
a {
  text-decoration: none;
}
